
<%= form_with(model: invoice, id: "invoice-form") do |form| %>
  <div class="row system-invoice__row">
    <div class="col">
      <%= render(InvoiceHeadingComponent.new(title: "Customer")) %>
      <%= form.collection_select :client_id, Client.order(:name), :id, :name, {:include_blank => 'Client...'} %>
    </div>
    <div class="col">
      <%= render(InvoiceHeadingComponent.new(title: "")) do %>
        <%= render(DataComponent.new()) do |c| %>
          <% c.left() do %>Invoice No.<% end %>
          <% c.right() do %><%= @invoice.number %><% end %>
        <% end %>
      <% end %>
      <%= render(DataComponent.new()) do |c| %>
        <% c.left() do %>Date:<% end %>
        <% c.right() do %><%= form.date_select :date %><% end %>
      <% end %>
      <%= render(DataComponent.new()) do |c| %>
        <% c.left() do %>Due:<% end %>
        <% c.right() do %><%= form.date_select :due %><% end %>
      <% end %>
      <%= render(InvoiceHeadingComponent.new(title: "Invoice Notes")) %>
      <%= form.text_area :notes, class: "form-control" %>
    </div>
  </div>
  <div class="row system-invoice__row">
    <div class="col">
      <%= form.text_field :title, class: "form-control form-control-lg text-center" %>
    </div>
  </div>
<% end %>

<div class="row system-invoice__row">
  <div class="col">
    <%= render "items/form" %>
  </div>
</div>
