<%= render(SubbarComponent.new(heading: "Invoices (#{ @invoiceCount })")) do |c| %>
  <% invoices.each do |invoice| %>
    <%= render(ItemComponent.new(title: invoice.number, url: edit_invoice_path(invoice))) do |c| %>
      <% c.sub() do %>
        <%= @clients.find(invoice.client_id).name %><br>
        <div class="d-flex">
          <div class="flex-grow-1">
            <% @sum = 0 %>
            <% invoice.items.each do |item| %>
              <% @sum += item.price.to_f * item.qty.to_f %>
            <% end %>
            $<%= @sum %>
          </div>
          <div class="">
            <%= invoice.date %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>