<%= render(SubbarComponent.new(heading: "Invoices (#{ @invoiceCount })")) do |c| %>
  <% c.action() do %>
    <%= link_to new_invoice_path, class: "btn btn-success" do %>
      <%= fa_icon "plus" %>
      New Invoice
    <% end %>
  <% end %>
  <% @invoices.each do |invoice| %>
    <%= render(ItemComponent.new(title: invoice.number, url: invoice)) do |c| %>
      <% c.sub() do %>
        <%= @clients.find(invoice.client_id).name %><br>
        <div class="d-flex">
          <div class="flex-grow-1">
            $TBD
          </div>
          <div class="">
            <%= invoice.date %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= render(StageComponent.new()) do %>
  <%= render(ContainerComponent.new()) do %>
    <%= render(HeadingComponent.new(title: @invoice.number)) do %>
      <%= render(IconComponent.new(name: "file-text-o")) %>
    <% end %>
    <%= render(InvoiceComponent.new()) do %>
      <div class="row system-invoice__row">
        <div class="col">
          Branding TBD
        </div>
        <div class="col">
          <h5 class="system-invoice__heading">Provider</h5>
          <%= @current_user.email %>
        </div>
      </div>
      <%= render 'form', invoice: @invoice %>
    <% end %>
  <% end %>
<% end %>

<!--<h1>Editing Invoice</h1>

<%= render 'form', invoice: @invoice %>
<%= render "items/form" %>

<%= link_to 'Show', @invoice %> |
<%= link_to 'Back', invoices_path %>
<%= link_to 'Destroy', @invoice, method: :delete, data: { confirm: 'Are you sure?' } %>-->
