<%= render 'sidebar' %>
<%= render 'subbar', invoices: @invoices %>
<%= render(StageComponent.new()) do %>
  <%= render(ContainerComponent.new()) do %>
    <%= render(DataComponent.new()) do |c| %>
      <% c.left() do %>
        <%= render(HeadingComponent.new(title: @invoice.number)) do %>
          <%= render(IconComponent.new(name: "file-text-o")) %>
        <% end %>
      <% end %>
      <% c.right() do %>
        <%= link_to 'Preview & Send', preview_invoice_path(@invoice), class: "btn btn-light btn-lg" %>
        <button type="submit" form="invoice-form" class="btn btn-success btn-lg">Save</button>
      <% end %>
    <% end %>
    <%= render(PanelComponent.new()) do %>
      <%= render(InvoiceComponent.new()) do %>
        <div class="row system-invoice__row">
          <div class="col">
            Branding TBD
          </div>
          <div class="col">
            <%= render(InvoiceHeadingComponent.new(title: "Provider")) %>
            <div class=""><%= @current_user.company %></div>
            <div class=""><%= @current_user.email %></div>
          </div>
        </div>
        <%= render 'form', invoice: @invoice %>
        <%= render(InvoiceItemsComponent.new()) do %>
          <%= render "items/form" %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to 'Delete', @invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg" %>
  <% end %>
<% end %>

<!--<h1>Editing Invoice</h1>

<%= render 'form', invoice: @invoice %>
<%= render "items/form" %>

<%= link_to 'Show', @invoice %> |
<%= link_to 'Back', invoices_path %>
<%= link_to 'Destroy', @invoice, method: :delete, data: { confirm: 'Are you sure?' } %>-->
