
<p>
  <strong>Title:</strong>
  <%= @invoice.title %>
</p>

<p>
  <strong>Number:</strong>
  <%= @invoice.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Due:</strong>
  <%= @invoice.due %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @invoice.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @invoice.user_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @invoice.client_id %>
</p>

<% if @invoice.items.count != 0 %>
  <%= render @invoice.items.order(created_at: :desc) %>
<% else %>
  Nada
<% end %>

<%= render "items/form" %>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
