<%= render(StageComponent.new()) do %>
  <%= render(ContainerComponent.new()) do %>
    <%= render(PanelComponent.new()) do %>
      <%= render(InvoiceComponent.new()) do %>
        <div class="row system-invoice__row">
          <div class="col">
            <%= render(BrandingComponent.new(logo: User.find(@invoice.user_id).logo )) %>
          </div>
          <div class="col">
            <%= render(InvoiceHeadingComponent.new(title: "Provider")) %>
            <div class=""><%= User.find(@invoice.user_id).company %></div>
            <div class=""><%= User.find(@invoice.user_id).email %></div>
          </div>
        </div>
        <div class="row system-invoice__row">
          <div class="col">
            <%= render(InvoiceHeadingComponent.new(title: "Customer")) %>
            <%= Client.find(@invoice.client_id).name %>
          </div>
          <div class="col">
            <%= render(InvoiceHeadingComponent.new(title: "")) do %>
              <%= render(DataComponent.new()) do |c| %>
                <% c.left() do %>Invoice No.<% end %>
                <% c.right() do %><%= @invoice.number %><% end %>
              <% end %>
            <% end %>
            <%= render(DataComponent.new()) do |c| %>
              <% c.left() do %>Date:<% end %>
              <% c.right() do %><%= @invoice.date.strftime("%d/%m/%Y") %><% end %>
            <% end %>
            <%= render(DataComponent.new()) do |c| %>
              <% c.left() do %>Due:<% end %>
              <% c.right() do %><%= @invoice.due.strftime("%d/%m/%Y")%><% end %>
            <% end %><br>
            <%= render(InvoiceHeadingComponent.new(title: "Notes")) %>
            <%= @invoice.notes %>
          </div>
        </div>
        <%= render(InvoiceItemsComponent.new()) do %>
          <%= render "items/show" %>
        <% end %>
        <%= render(PoweredComponent.new()) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>