<%= render(StageComponent.new()) do %>
  <%= render(ContainerComponent.new()) do %>
    <%= render(PanelComponent.new()) do %>
      <%= render(FormComponent.new()) do %>
        <div class="row">
          <div class="col">
            <h1>Forgot your password?</h1>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-field">
                <%= f.label :email, class: "form-labal" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <div class="form-actions">
                <%= f.submit 'Send me reset password instructions', :class => 'btn btn-success' %>
              </div>
            <% end %>
          </div>
          <div class="col">
          
          </div>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>