<%= render 'sidebar' %>
<%= render 'subbar', clients: @clients %>
<%= render(StageComponent.new()) do %>
  <%= render(ContainerComponent.new()) do %>
    <%= render(HeadingComponent.new(title: @client.name)) do %>
      <%= render(IconComponent.new(name: "building-o")) %>
    <% end %>
    <%= render(PanelComponent.new()) do %>
      <%= render(TabsComponent.new()) do %>
        <ul class="nav nav-tabs" id="clientTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="detailsTab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="false">Details</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="invoicesTab" data-bs-toggle="tab" data-bs-target="#invoices" type="button" role="tab" aria-controls="invoices" aria-selected="false">Invoices</button>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Actions</button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Delete', @client, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %></li>
            </ul>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="detailsTab">
            <%= render(FormComponent.new()) do %>
              <%= render 'form', client: @client %>
            <% end %>
          </div>
          <div class="tab-pane fade" id="invoices" role="tabpanel" aria-labelledby="invoicesTab">
            <table class="table">
              <thead>
                <th>Invoice #</th>
                <th>Date</th>
                <th>Due Date</th>
                <th class="text-end">Amount Due</th>
              </thead>
              <tbody>
                <% @client.invoices.each do |invoice| %>
                  <% @sum = 0 %>
                  <% invoice.items.each do |item| %>
                    <% @sum += item.price.to_f * item.qty.to_f %>
                  <% end %>
                  <tr>
                    <td><%= link_to invoice.number, invoice %></td>
                    <td><%= invoice.date %></td>
                    <td><%= invoice.due %></td>
                    <td class="text-end">$<%= @sum %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>