<%= render(StageComponent.new()) do %>
  <%= render(ContainerComponent.new()) do %>
    <%= render(PanelComponent.new()) do %>
      <%= render(FormComponent.new()) do %>
        <div class="row">
          <div class="col">
            <h1>Log in</h1>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-field">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-field">
              <%= f.label :password, class: "form-label"  %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <div class="form-actions">
              <%= f.submit 'Log in', :class => 'btn btn-success' %>
            </div>
          <% end %>
          </div>
          <div class="col">
          
          </div>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>