<%= form_for([@invoice, @invoice.items.build]) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.text_field :qty %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
