<!DOCTYPE html>
<html>
  <head>
    <title>27 Invoices</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render(SidebarComponent.new()) do |c| %>
      <% c.body() do %>
        <%= link_to clients_path do %>
          <%= fa_icon "building-o" %>
          Clients
        <% end %>
        <%= link_to invoices_path do %>
          <%= fa_icon "file-text-o" %>
          Invoices
        <% end %>
      <% end %>
      <% c.bottom() do %>
        <%= link_to edit_user_registration_path, :class => '#' do %>
          <%= fa_icon "smile-o" %>
          Account
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, :class => '#' do %>
          <%= fa_icon "hand-peace-o" %>
          Logout
        <% end %>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render(AlertComponent.new(id: "notice", message: notice)) %>
    <%= render(AlertComponent.new(id: "alert", message: alert)) %>
  </body>
</html>
